body{
    margin: 0;
    min-height: 100%;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.wrapper{
    width: 86%;
    height: auto;
    justify-content: center;
    margin: 0;
    margin-right: 0;
    margin-left: 7%;
    align-items: center;
}
header{
    height: 140px;
    position: sticky;
    top: 0;
    background-color: #ffffff;;
    z-index: 7;
    box-shadow: 0 0.2px 15px 0  rgba(190, 190, 192, 0.856);
}
.header-top{
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.header-top-border{
    border-bottom: 1px solid #B0BFC7;
}
.header-top-left{
    width: 400px;
    display: flex;
    align-content: center;
    align-self: center;
}
.header-top-left>a{
    display: flex;
    align-items: center;
    margin-right: 35px;
}
.header-top-left>img{
    margin-right: 30px;
}
.header-top-left>p{
    margin-right: 8px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}
a.head-left{
    margin-right: 8px;
    color: #2e384d;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    font-family: SFProText-Semibold;
}
.head-left-2{
    margin-right: 8px;
    color: #2e384d;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    font-family: SFProText-Semibold;
}
.header-top-right{
    display: flex;
    align-content: center;
    align-self: center;
}
.electron{
    font-size: 16;
    font-weight: 600;
    line-height: 1.5;
    color: #2e384d;
}
ul{
    list-style-type: none;
}
ul.head-top{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.head-top>li>a{
    color: #2e384d;
}
.call{
    width: 51px;
    height: 24px;
    margin-top: 10px;
}
ul.navigation{
    width: 61%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
a.activ{
    color: #6ebb20 !important;
}
ul.navigation>li>a{
    font-size: 13px;
    line-height: 1.71;
    color: #15334a;
    transition: color 0.5s;
}
ul.navigation>li>a:hover{
    color: #6ebb20;
}
@font-face{
    font-family: "SFProText-Regular";
    src: url(../fonts/SFProText-Regular.woff2);
}
@font-face{
    font-family: "SFProText-Semibold";
    src: url(../fonts/SFProText-Regular.woff2);
}
p, a{
    font-family: SFProText-Regular;
}
h1, h2, h3, h4{
    font-family: SFProText-Semibold;
}
.section1{
    height: 294px;
    background-image: radial-gradient(circle at 90% 0px, rgb(110, 187, 32), rgb(18, 148, 80));
    margin-bottom: 40px;
}
.green{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-green{
    width: 470px;
    height: 294px;
    color: white;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-green p{
    font-size: 20px;
    line-height: 1.6;
}
.text-green h1{
    margin: 0;
    font-size: 36px;
    font-weight: 500;
}
a{
    box-sizing: border-box;
    text-decoration: none;
}
.img-green{
    width: 300px;
    height: 294px;
}
.img-green img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-navigation{
    padding-top: 22px;
    padding-bottom: 35px;
    margin-bottom: 43px;
    border-bottom: 1px solid #eaecee;
}
.section-navigation>h2{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.85;
    color: #2e384d;
    margin-bottom: 30px;
}
ul.nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 0;
}
ul.nav>li>a{
    padding: 8px 20px;
    margin-right: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #708390;
    border-radius: 16px;
    border: solid 1px #e6ebed;
    transition: all 0.5s;
    display: flex;
    width: max-content;
}
ul.nav>li>a:hover{
    background-color: #6ebb20;
    color: white;
}
.credit{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}
.credit>li{
    width: 570px;
    height: 616px;
    background-color: #f8fafb;
    margin-bottom: 30px;
}
.cre-name{
    height: 65px;
    background-color: #eaeef0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
}
.cre-name>h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #2e384d;
}
.cre-detail{
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 25px;
}
.cre-list{
padding: 25px;
}
.condition{
    margin-bottom: 25px;
}
.condition>h4{
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #708390;
}
.condition>p{
    height: 43px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #2e384d;
    margin: 0;
    margin-top: 5px;
}
.cre-img{
    height: 249px;
}
.cre-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cre-button{
display: flex;
justify-content: flex-start;
align-items: flex-end;
}
.button-1{
    width: 195px;
    height: 52px;
    text-align: center;
    color: white;
    background-color: #6ebb20;
    margin-top: 7px;
    margin-right: 25px;
    border-radius: 6px;
    border: solid 1px #e6ebed;
    padding: 15px 52px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    transition: 0.5s;
}
.button-1:hover{
    background-color: #2e384d;
}
.button-2{
    width: 195px;
    height: 52px;
    color: #708390;
    background-color: white;
    margin-top: 7px;
    border-radius: 6px;
    border: solid 1px #e6ebed;
    padding: 15px 42px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    transition: 0.5s;  
}
.button-2:hover{
    background-color: #2e384d;
    color: white;
    opacity: 0.7;
}
.cre-detail>li{
    width: 25%;
    display: flex;
    flex-direction: column;
}
p.info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #708390;
    margin: 0;
}
p.number{
    margin: 0;
    margin-top: 5px;
    font-size: 25.2px;
    font-weight: bold;
    line-height: 1.27;
    color: #2e384d;
}

.section3{
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 40px;
    background-color: #F8FAFB;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.section3-text{
    width: 680px;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    padding-left: 42px;
    align-content: center;

}
.section3-img{
    position: absolute;
    bottom: 0;
    right: 42px;
    width: 348px;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 0;
}
.section3-img>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section3-text>h1{
    font-size: 40px;
    margin: 0;
    color: #15334a;
}
.section3-text>p{
    width: 90%;
    font-size: 22px;
    margin-top: 12px;
    color: #15334a;
    line-height: 1.75;
    opacity: 0.6;
}
.section3>ul.button{
    position: absolute;
    left: 0;
    bottom: 22px;
    padding-left: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.section3>ul.button>li{
    margin-right: 10px;
}
div.first-but{
    width: 32.5px;
    height: 4px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #708390;
}
div.second-but{
    width: 32.5px;
    height: 4px;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 4px;
    background-color: #708390;
}
div.order{
    background-color: #f8fafb;
    padding: 45px 30px;
}
ul.form-order{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
    background-color: #f8fafb;
    border-bottom: 1px solid #e6ebed;
    margin-bottom: 43px;
}
ul.form-order>li{
    width: 520px;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #e6ebed;
    background-color: #ffffff;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    border: hidden;
    height: 56px;
    margin-left: 0;
    padding-left: 10px;
}
div.button{
    position: relative;
    width: 100%;
    height: 58px;
}
button.submit{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 520px;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #e6ebed;
    background-color: #6ebb20;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: white;
    text-align: center;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
button.submit:hover{
    background-color: #15334a;
}
footer{
    position: relative;
    background-color: #F8FAFB;
    margin-top: 60px;
    padding-top: 30px;
}
.footer-section1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebed;
}
.footer-call{
    width: 76px;
    height: 36px;
    margin-bottom: 30px;
}
.footer-logo{
    width: 168px;
    height: 35px;
    margin-bottom: 30px;
}
ul.footer-contact{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    height: 310px;
}
ul.footer-contact>li>a{
    opacity: 0.6;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.14;
    color: #15334a;
}
ul.footer-contact>li>p{
    opacity: 0.6;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.14;
    color: #15334a;
}
ul.footer-contact>li>h3{
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #15334a;
}
ul.footer-contact>li>h3>a{
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #15334a;
}
ul.footer-contact>li>p>a{
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: #15334a;
}
ul.footer-contact>li{
    width: 180px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
ul.footer-contact li a:hover{
    opacity: 1;
}
ul.footer-contact li h3:hover{
    opacity: 1;
}
ul.footer-contact li p:hover{
    opacity: 1;
}
.full-store-links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.footer-store-links{
    width: 390px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-store-links>a>img{
    display: flex;
    align-self: center;
}
.footer-store-links>a{
    width: auto;
    height: auto;
}
.info-az{
    width: 99px;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}
.app-store{
    width: 120px;
    height: 40px;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}
.google-play{
    width: 135px;
    height: 40px;
    margin: 0;
    padding: 0;
    opacity: 0.6;
}
.footer-store-links>a>img:hover{
    opacity: 1;
}
.footer-end{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
    margin-top: 35px;
    border-top: 1px solid #e6ebed;
}
.footer-end-left{
    width: 486px;
    height: 60px;
    margin: 0;
    color: #15334a;
    opacity: 0.4;
    font-size: 16px;
    line-height: 1.63;
}
.footer-end-left>p{
    margin: 0;
}
.footer-end-right{
    margin-top: 10px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 230px;
    height: 60px;
    margin: 0;
    padding-left: 0;
}
.social>li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social>li>a>i{
    width: 60px;
    height: 58px;
    color: #15334a;
    opacity: 0.6;
    text-align: center;
    font-size: 33px;
}
.social>li>a>i:hover{
    opacity: 1;
}
button.online-chat{
    position: fixed;
    bottom: 45px;
    right: 45px;
    content: "";
    width: 60px;
    height: 60px;
    padding-top: 10px;
    border: hidden;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    text-align: center;
    background-color: #6ebb20;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.online-chat:hover{
    background-color: #2e384d;
}